.wrapper {
  height: 550px;
  width: 500px;
  padding: 35px 30px;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px -1px rgba(169, 169, 169, 0.7);
}

.input {
  display: block;
  width: 96%;
  padding: 8px 6px;
  font-size: 15px;
  margin-bottom: 40px;
}

.add-button {
  padding: 8px 12px;
  background: lightblue;
  cursor: pointer;
  border: none;
  display: block;
  margin: auto;
  outline: none;
}

.add-button:hover {
  background: #a3cedc;
}

.list {
  list-style-type: none;
  padding: 0 20px;
}

.list li {
  margin-bottom: 12px;
  cursor: pointer;
}

.completed-todo-item {
  text-decoration: line-through;
}

.filter-buttons {
  display: flex;
  justify-content: center;
}

.filter-buttons button {
  margin: 0 6px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
